body {
    margin: 0;
    font-family: Courier New;
}

#wrapper {
    display: grid;
    grid-template-rows:  ;
    grid-template-columns: ;
    grid-template-areas: 
    "nav top"
    "header"
    "main_img"
    "selection"
    "img_1 img_2 img_3"
    "img_4 img_5 img_6"
}

nav {
    grid-area: nav;
}
nav ul li:last-of-type {
    grid-area: top;
}

nav ul li, nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

